<!DOCTYPE html>
<html>
  <head>
    <title>Event Detail</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="container">
      <h1>Event Detail</h1>
      <form action="/events/edit/<%=event._id%>" method="post">
        <table>
          <tbody>
          <tr>
              <td>Id</td>
              <td>:</td>
              <!-- Como o id não pode ser alterado usamos o input hidden para o enviar como campo do formulário. -->
              <td><input type="hidden" name="_id" id="_id" value="<%= event._id %>"><%= event.name %></td>
              </tr>
          <tr>
              <td>Name</td>
              <td>:</td>
              <td><input type="text" name="name" id="name" value="<%= event.name %>"></td>
            </tr>
            
            <tr>
              <td>Quantity</td>
              <td>:</td>
              <td><input type="text" name="quantity" id="quantity" value="<%= event.quantity %>"></td>
            </tr>
            <tr>
              <td colspan="2"><button type="submit">Edit</button></td>
            </tr>
          </tbody>
        </table>
    </form>
    </div>
    <h3><a href="/events">Ver todos os event</a></h3>
  </body>
</html>

