<!DOCTYPE html>
<html>
  <head>
    <title>Event List</title>
  </head>
  <body>
    <div class="container">
      <h1>Event List</h1>
      <% if(events.length>0) { %>
        <table class="list-table">
          <thead>
            <tr>
              <th>#</th>
              <th>Id</th>
              <th>Event Name</th>
              <th>Detalhes</th>
              <th>Editar</th>
              <th>Eliminar</th> <!-- use for debug -->
            </tr>
          </thead>
          <tbody>

            <% for(var i=0; i<events.length;i++) { %>
              <tr>
                <td> <%=i%> </td>
                <td> <%=events[i]._id%></a></td>
                <td> <%= events[i].name%></a></td>
                <td><a href="/events/show/<%= events[i]._id%> "> Ver </td>
                <td><a href="/events/edit/<%= events[i]._id%> "> Editar </a></td>
                <td><a href="/events/delete/<%= events[i]._id%> "> Eliminar </a></td> <!-- use for debug -->
              </tr>
            <% } %>
          </tbody>
        </table>
      <% } else { %>
        <div>No events found.</div>
      <% } %>
    </div>
    <h3><a href="/events/create">Criar novo Event</a></h3>
  </body>
</html>