<!DOCTYPE html>
<html>
  <head>
    <title>Event Detail</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="container">
      <h1>Event Detail</h1>
      <table>
        <tbody>
        <tr>
            <td>Id</td>
            <td>:</td>
            <td><%= event._id %></td>
            </tr>
        <tr>
            <td>Name</td>
            <td>:</td>
            <td><%= event.name %></td>
          </tr>
          
          <tr>
            <td>Description</td>
            <td>:</td>
            <td><%= event.description %> </td>
          </tr>
          <tr>
            <td>Poster image (URL)</td>
            <td>:</td>
            <td><%= event.poster %> </td>
          </tr>
          <tr>
            <td>Number of tickets available</td>
            <td>:</td>
            <td><%= event.nTicketsAvailable %> </td>
          </tr>
          <tr>
            <td>Number of tickets purchased</td>
            <td>:</td>
            <td><%= event.nTicketsPurchased %> </td>
          </tr>
          <tr>
            <td>Price</td>
            <td>:</td>
            <td><%= event.price %> </td>
          </tr>

        </tbody>
      </table>
    </div>
    <h3><a href="/events/edit/<%= event._id%> "> Editar </a></h3>
    <h3><a href="/events">Ver todos os event</a></h3>
  </body>
</html>

