<div class="container p-3">
  <h3>Edit Event</h3>
  <form action="/events/edit/<%=event._id%>" method="post">
    <div class="form-group row">
      <label for="name">Name</label>
      <input
        type="text"
        class="form-control"
        id="name"
        placeholder="Name of event..."
        name="name"
        required
        value="<%= event.name %>"
      />
    </div>
    <div class="form-group row">
      <label for="description">Description</label>
      <input
        type="text"
        class="form-control"
        id="description"
        placeholder="Description of event..."
        name="description"
        required
        value="<%= event.description %>"
      />
    </div>
    <div class="form-group row">
      <label for="location">Location</label>
      <select class="form-control" name="location" required>
        <% for(var i=0; i<locations.length;i++) { %> <!--selected para aparecer a opção escolhida no create--> 
          <option value="<%= locations[i]._id %>" <% if(locations[i].name == event.location.name){ %> selected <% } %>>
            <%=locations[i].name%>
          </option>
          <% } %>
      </select>
    </div>
    <div class="form-group row">
      <label for="promoters">Promoters</label>
      <select multiple class="form-control" id="promoters" name="promoters" required>
        <% for(var i=0; i<promoters.length;i++) { %>
          <option value="<%= promoters[i]._id %>">
            <%=promoters[i].name%>
          </option>
          <% } %>
      </select>
    </div>
    <div class="form-group row">
      <label for="date">Date</label>
      <input
        type="date"
        class="form-control"
        id="date"
        placeholder="Capacity of event..."
        name="date"
        required
        value="<%= event.date %>"
      />
    </div>
    <div class="form-group row">
      <label for="time">Time</label>
      <input
        type="time"
        class="form-control"
        id="time"
        placeholder="Time for the event..."
        name="time"
        required
        value="<%= event.time %>"
      />
    </div>
    <div class="form-group row">
      <label for="poster">Poster image (URL)</label>
      <input
        type="text"
        class="form-control"
        id="poster"
        placeholder="Poster image of event..."
        name="poster"
        required
        value="<%= event.poster %>"
      />
    </div>
    <div class="form-group row">
      <label for="nTicketsAvailable">Number of tickets available</label>
      <input
        type="number"
        class="form-control"
        id="nTicketsAvailable"
        placeholder="Number of tickets available..."
        name="nTicketsAvailable"
        required
        value="<%= event.nTicketsAvailable %>"
      />
    </div>
    <div class="form-group row">
      <label for="price">Price of the ticket</label>
      <input
        type="number"
        class="form-control"
        id="price"
        placeholder="Price of the ticket..."
        name="price"
        required
        value="<%= event.price %>"
      />
    </div>
    <button type="submit" class="btn btn-primary mt-2">Save changes</button>
  </form>
</div>